# ***DATA*** ***STRUCTURE***

In [1]:
#PRACTICAL QUESTIONS:- 


#1.Write a code to create a string with your name and print it?

my_name = "Kashish"
print("My name is:", my_name)

My name is: Kashish

In [2]:
#2.Write a code to find the length of the string "Hello World"?

my_string = "Hello Python"
print("Length of the string:", len(my_string))

Length of the string: 12

In [3]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"?

text = "Python Programming"
sliced_text = text[:3]

print("First 3 characters:", sliced_text)

First 3 characters: Pyt

In [4]:
#4.Write a code to convert the string "hello" to uppercase?

text = "kanha"
upper_text = text.upper()

print("Uppercase:", upper_text)

Uppercase: KANHA

In [5]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

text = "I like apple"
new_text = text.replace("apple", "orange")

print("Updated string:", new_text)

Updated string: I like orange

In [6]:
#6.Write a code to create a list with numbers 1 to 5 and print it?

numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [7]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]?

numbers = [1, 2, 3, 4]
numbers.append(10)

print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [8]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)

print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [9]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]

print("Second element:", second_element)

Second element: b

In [10]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]?

numbers = [10, 20, 30, 40, 50]
numbers.reverse()

print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [11]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it?

my_tuple = (100, 200, 300)
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [12]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[2]

print("Second-to-last element:", second_last)

Second-to-last element: blue

In [13]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

numbers = (10, 20, 5, 15)
min_number = min(numbers)

print("Minimum number:", min_number)

Minimum number: 5

In [14]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')

print("Index of 'cat':", cat_index)

Index of 'cat': 1

In [15]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

fruits = ('apple', 'banana', 'mango')

if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is NOT in the tuple.")

Kiwi is NOT in the tuple.

In [16]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it?

my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'a', 'b', 'c'}

In [17]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

my_set = {1, 2, 3, 4, 5}
my_set.clear()

print("Cleared set:", my_set)

Cleared set: set()

In [18]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}?

my_set = {1, 2, 3, 4}
my_set.remove(4)

print("Updated set:", my_set)

Updated set: {1, 2, 3}

In [19]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [20]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?

set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

In [21]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

person = {
    "name": "Krishna",
    "age": 23,
    "city": "Vrindavan"
}

print("Dictionary:", person)

Dictionary: {'name': 'Krishna', 'age': 23, 'city': 'Vrindavan'}

In [22]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?

person = {'name': 'John', 'age': 25}

person['country'] = 'USA'

print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?

person = {'name': 'Alice', 'age': 30}
name_value = person['name']

print("Value of 'name':", name_value)

Value of 'name': Alice

In [24]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')

print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [25]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does NOT exist in the dictionary.")

The key 'city' exists in the dictionary.

In [26]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all?

my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [27]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)?

import random
random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print("Sorted random numbers:", random_numbers)

Sorted random numbers: [8, 8, 39, 50, 56]

In [28]:
#28.Write a code to create a list with strings and print the element at the third index?

words = ["apple", "banana", "cherry", "date", "orange"]

print("Element at third index:", words[3])

Element at third index: date

In [29]:
#29.Write a code to combine two dictionaries into one and print the result?

dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

combined_dict = {**dict1, **dict2}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [30]:
#30.Write a code to convert a list of strings into a set?

string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)

print("Set:", string_set)

Set: {'apple', 'banana', 'cherry'}